nav{
    position: fixed;
    left:0;
    top:0;
    z-index: 5;
}

nav>.menu>a{
    color:yellow;
    text-decoration: none;
    display: block;
    font-weight: bolder;
    font-size: larger;
    transition:color .2s linear;
}

nav>.menu>a:hover{
    color:red;
    background-color: #FFF7;
    border-radius: 5px;
}
